{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    {% include 'layout/header.html.twig' %}

    <p>Petit projet Symfony 6 de révision sur le thème de Star Wars</p>
{% endblock %}
