{% extends 'base.html.twig' %}

{% block title %}New InfoPerso{% endblock %}

{% block body %}
    {% include 'layout/header.html.twig' %}
    <h1>Create new InfoPerso</h1>

    {{ include('info_perso/_form.html.twig') }}

    <a href="{{ path('app_info_perso_index') }}">back to list</a>
{% endblock %}
